<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/tasks.css">
</head>
<body>

<h2>Task Manager</h2>
<h3>Add a Task:</h3>
<form action="/tasks" method="post">
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
    <label for="status">Status </label><select id="status" name="status" required>
        <option value="CREATE">Create</option>
        <option value="PROCESSING">Processing</option>
        <option value="FINISHED">Finished</option>
    </select><br><br>
    <button type="submit">Add task</button><br>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Date and time</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${#temporals.format(task.localDateTime, 'HH:mm:ss dd-MM-yyyy')}"></td>
        <td th:text="${task.status}"></td>
        <td><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></td>
        <td><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>

<form action="/findByStatus" method="post">
    <label> Filter by Status
        <select name="state">
            <option th:each="status : ${T(com.taxah.spring_dz5.model.Status).values()}"
                    th:value="${status}" th:text="${status}"></option>
        </select>
    </label>
    <button type="submit">Find</button><br>
    <a th:href="tasks">Clear Filter</a>
</form>

</body>
</html>
