<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
<form action="/submit" th:action="@{/tasks}" th:object="${task}" method="post">
    <h2>UPDATE TASK:</h2>
    <label for="id">ID: </label><input readonly type="text" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="description">Description: </label><textarea id="description"
                                                            name="description"
                                                            rows="4" cols="50"
                                                            required
                                                            th:field="*{description}"></textarea><br>
    <label for="status">Status: </label><select id="status" name="status" required th:field="*{status}">
    <option value="CREATE" >Create</option>
    <option value="PROCESSING" >Processing</option>
    <option value="FINISHED" >Finished</option>
</select><br>
    <h2><span th:text="${localDateTime}"></span></h2>

    <button type="submit">Update task</button>
</form>
</body>
</html>